#preloader {
  height: 100vh;
  transition: height 300ms ease-out;
  z-index: 99999;

  &.hide {
    height: 0;
  }

  .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;

    .bounce1,
    .bounce2,
    .bounce3 {
      width: 18px;
      height: 18px;
      background-color: #080631;
      border-radius: 50%;
      display: inline-block;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .bounce1 {
      animation-delay: -0.32s;
    }

    .bounce2 {
      animation-delay: -0.16s;
    }
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}